<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Welcome to QuotingDojo!</h1>
    <form action="/add" method="post">
        <h3>Name:</h3>
        <input type="text" name="name" placeholder="Enter your name">
        <h3>Your quote:</h3>
        <input type="text" name="quote" placeholder="Enter your quote">
        <input type="submit" value="Add my quote!">
    </form>
    <a href="/quotes"><button type="button">Skip to quotes!<a></button>

</body>

</html>